<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="produccion" value="1" />
		<add key="desarrollo" value="0" />
		<add key="ip" value="localhost" />
		<!--181.90.159.14 localhost  LEGACY-->
		<add key="puerto" value="3306" />
		<add key="user" value="shamiadmin" />
		<add key="userPasword" value="Shamiadmin1794" />
		<add key="base_de_datos" value="shami" />
		<add key="base_de_datos_desarrollo" value="shami_desarrollo" />
		<add key="telefono_expedicion" value="5491128799999" />
		<add key="telefono_pedidos" value="5491128799999" />
		<add key="telefono_compras" value="5491134650677" />
		<add key="telefono_tulio" value="5491128799999" />
		<add key="programador" value="5491160413980" />
		<add key="telefono_fabrica_oficina" value="5491128799999" />
	</appSettings>

	<system.web>
		<customErrors mode="Off" defaultRedirect="~/paginas/login.aspx" redirectMode="ResponseRedirect">
			<error statusCode="500" redirect="~/paginas/login.aspx" />
			<error statusCode="404" redirect="~/paginas/login.aspx" />
		</customErrors>
		<globalization culture="es-MX" uiCulture="es-MX" requestEncoding="utf-8" responseEncoding="utf-8" />
		<compilation debug="true" targetFramework="4.8" />

		<!-- Configuraciones para permitir subida de archivos grandes -->
		<httpRuntime targetFramework="4.8" maxRequestLength="1048576" executionTimeout="3600" />

	</system.web>

	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".webp" mimeType="image/webp" />
		</staticContent>

		<!-- Configuración de límites en IIS para permitir archivos grandes -->
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824" />
				<!-- 1 GB -->
			</requestFiltering>
		</security>
	</system.webServer>

	<connectionStrings>
		<add name="MySqlSessionState" connectionString="server=201.235.217.38;user=shamiadmin;password=Shamiadmin1794;database=SessionStateDB;CharSet=utf8;Pooling=true;Min Pool Size=0;Max Pool Size=100;Connection Lifetime=0;" />
	</connectionStrings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.28.2.0" newVersion="3.28.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="K4os.Compression.LZ4" publicKeyToken="2186fa9121ef231d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.8.0" newVersion="1.3.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.8.0" newVersion="1.3.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ZstdSharp" publicKeyToken="8d151af33a4ad5cf" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.8.1.0" newVersion="0.8.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
